<h1>
  Moufid Product-App
</h1>

<div class="img">
  <a href="#">
    <!-- [src]="logo" est appelée du property binding 
      liaison de propriété-->
    <img [src]="logo1" alt="capeverdeflag" class="logo">
  </a>

  <a href="#">
    <!-- [src]="logo" est appelée du property binding 
      liaison de propriété-->
    <img [src]="logo2" alt="qrcode" class="logo">
  </a>
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
    class="bi bi-chat-dots position-relative" viewBox="0 0 16 16">
    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
    <path
      d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2" />
  </svg>
  <a href="#">
    <!-- [src]="logo" est appelée du property binding 
      liaison de propriété-->
    <img [src]="logo3" alt="manuelpintodacosta" class="logo">
  </a>

</div>
<button type="button" class="btn btn-primary position-relative" style="width: 150px;
height: 50px;margin: 0 auto;margin-bottom: 20px;">
  Notifications
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">Messages non lus</span>
  </span>
</button>
<div>
  <mat-card-header>
    <button class="button" (click)="showAddProductForm()">Ajouter une tâche(+)</button>
  </mat-card-header>

  <mat-card-content>
    <mat-card *ngIf="!isAdd && !isEdit">

      <mat-card-content>
        <table mat-table [dataSource]="dataSources" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <span mat-header-cell *matHeaderCellDef> </span>
            <span mat-cell *matCellDef="let element"></span>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button class="btn btn-success" (click)="editTodo(element.id)">Edit</button>
              <button class="btn btn-danger" (click)="deleteTodo(element.id)">Delete</button>

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card-content>

    </mat-card>

    <form [formGroup]="productForm" (ngSubmit)="saveTodo()" *ngIf="isAdd || isEdit">
      <div class="card mb-3" style="width: 350px;margin: 0 auto;">
        <mat-card-header>
          <h2>Tâche</h2>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <label>Id</label>
            <input matInput formControlName="id">
          </mat-form-field>
          <mat-form-field>
            <label>Name</label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="5" cols="90">

            </textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-primary" type="submit">Sauvegarder</button>
          <a class="btn btn-secondary" (click)="backToList()">Retour</a>
        </mat-card-actions>
      </div>
    </form>

  </mat-card-content>

</div>

<app-todo-footer>

</app-todo-footer>
<router-outlet>

</router-outlet>